// Global style setting
body
    background-color: #dddddd;

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

$red = #fc6471;
$darkred = #ec3333;
$violet = #ae99cf;
$lightblue = #cdf3fa;
$grey = #dddddd;
$jade = #55d6be;
